.jumbotron{
    background: url("file:///Volumes/meenu_0/Web%20D%20work/Pattern%20project/2.jpeg") center center / cover no-repeat; 
    font-family: helvetica neue;
    border-bottom: 3px solid #02131bad;
}
